.output {
    margin-top: 500px;
    margin-bottom: 300px;
}

.buttons {
    margin-bottom: 3%;
}

.btnGroup {
    margin-bottom: 2%;
}

#primera {
    background-color: #23658C;
    color: white;
}

#nyDia {
    background-color: #2A718F;
    color: white;
}

#realAm {
    background-color: #307C92;
    color: white;
}

#spRe {
    background-color: #378895;
    color: white;
}

#tvAm {
    background-color: #3D9498;
    color: white;
}

#ganaMas {
    background-color: #44A09C;
    color: white;
}

#ltka {
background-color: #4AAC9D;
color: white;
}

#nyNoche {
background-color: #50B7A0;
color: white;
}

#spLe {
    background-color: #56C3A4;
    color: white;
}

#qPale {
    background-color: #5DD0A6;
    color: #656567;
}

#nacPm {
    background-color: #62DAA9;
    color: #595A5B;
}

#tvPm {
    background-color: #68E6AD;
    color: #4D4D4F;
}

/* .typeBtn {
    width: 30%;
    height: 80%;
} */

.c-btn-group {
    display: inline-flex;
    border: 1px solid rgb(97, 97, 97);
    overflow: hidden;
    border-radius: 4px;  
    margin: 2%;
  }
  .c-btn-group > .btn {
    border-radius: 0;
    border: none;
    border-right: 1px solid rgb(97, 97, 97);
  }
  .c-btn-group > .c-btn:last-child {
    border-right: none;
  }
  .c-btn-group--block {
    display: flex;
  }
  .c-btn-group--block > .btn {
    flex-grow: 1;
  }
  

  
 